// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: white;
   margin: 0px auto;
   justify-content: center;
 }

 .card-ask {
    padding: 20px;
 }

 .answer {
  width: 500px;
  padding: 30px;
  justify-content: right;
  margin: 0px auto;
 }

 .card-answer {
   background: rgba(177, 174, 174, 0.829);
   padding: 30px;
   margin: 30px 0px;

   text-align: rigth;

   h2 {
     font-size: 30px;
     margin:0px;
   }
   p{
     font-size: 24px;
     margin:0px;
   }
 }

  a {
   color: rgb(67, 42, 175);
   text-decoration: none;
   font-size: 20px;
   &:hover {
     color: black;
   }
 }
